@using Library_Web_App.Data.Entities
@model List<Book>

@if (User.Identity?.IsAuthenticated ?? false)
{
	@if (Model.Count == 0)
	{
			<p>No Books Found!</p>
	}
	else
	{
		@foreach (Book book in Model)
		{
					<div>
						<h3>@book.Title</h3>
						<p><b>- Author:</b> @book.Author</p>
						<p><b>- Genre:</b> @book.Genre</p>
						<p><b>- Year of publication:</b> @book.YearOfPublication</p>
						<p><b>- Pages:</b> @book.Pages</p>

						<button>
							<a asp-controller="Book" asp-action="Info" asp-route-id="@book.Id">View</a>
						</button>

						@*<button>
						<a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id">Edit</a>
					</button>*@

						@if (User.IsInRole("admin")) {
							<button>
								<a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id">Delete</a>
							</button>
						}
					</div>
		}
	}
}