@using Library_Web_App.Data.ViewModels.Comment
@model BookCommentsViewModel

<div>
	<div style="display: flex; justify-content: space-between; align-items: center;">
		<button style="float: left;"><a asp-controller="Book" asp-action="Info" asp-route-id="@Model.BookId">Back</a></button>
		<h3 style="display: inline-block; margin: 0 auto;">Comments (@Model.Comments.Count())</h3>
	</div>

	<hr />

	@if (Model.Comments.Count() == 0)
	{
		<p>No comments for now!</p>
	}else {
		foreach (var comment in Model.Comments)
		{
			<div style="border: 1px solid black; background-color: lightgray; padding: 10px; margin: 10px; border-radius: 10px;">
				<div style="display: flex; justify-content: space-between; align-items: center;">
					<h6 style="margin: 0; color: @comment.UserRoleColor">@comment.Data.User.UserName</h6>
					<label style="margin: 0;">@comment.Data.Posted</label>
				</div>
						
				<hr />
				<p>@comment.Data.Message</p>

				@if (User.Identity.Name == comment.Data.User.UserName || User.IsInRole("admin"))
				{
					<div style="text-align: right;">
						<button><a asp-controller="Comment" asp-action="DeleteComment" asp-route-id="@comment.Data.Id">Delete</a></button>
					</div>
				}
			</div>
		}
	}
</div>